.cs-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(0,0,0,0.1);
    position: relative;
  }
  
  .cs-modal_container {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
  }
  